apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: muchtodo
spec:
  selector:
    app: backend
  ports:
  - port: 80
    targetPort: 8080
    protocol: TCP
    name: http
  type: ClusterIP
